.search-page
  %h1 Search
  .search-section
    = simple_form_for(:search, html: { class: 'form-horizontal' }, :url => search_path, remote: true) do |form|
      = form.input_field :text, :placeholder => "", label: false
      = form.submit "Search"
  .search-results-section
