.upload-photo-page
  %h1 Choose your photo
  = simple_form_for(Photo.new, html: { class: 'form-horizontal', :id => 'photo_uploader' }) do |form|
    = form.hidden_field :user_id, value: current_user.id
    = form.file_field :data, :placeholder => "", label: false
    = form.input :caption, :placeholder => "", label: false
    .submit.btn.btn-default="Upload"