.home-page
  %h1 My feed
  .photo-section
    .photo-feed-element-section
      = render "photos/photos_feed_element", :photos => @photos
    .clearfix
    .show-more-photos-feed
      = render "photos/show_more_photos_feed", :user => current_user, :page => 2


