.crop-photo-page
  %h1 Crop my photos
  = simple_form_for(photo, html: { class: 'form-horizontal', :id => 'photo_uploader' }) do |form|
    = form.hidden_field :user_id, value: current_user.id
    = form.cropbox :data
    = form.submit "Crop"