.photo-grid{:'data-match-columns' => 'true'}
  = render "photos/photo_grid_element", :photos => photos
- content_for :js do
  :javascript
    var matchColumns = new CustomLib.responsive.MatchColumns($(".photo-grid"));
    matchColumns.updateAfterLoadedImages();