.show-photo-page
  .user-info-section
    .user-avatar
      %img{:src => @photo.user.avatar && @photo.user.avatar.url, onerror: "this.src='/no-avatar.jpg'"}
    .user-info-wrapper
      .user-name=@photo.user.name
      .follow-wrapper
        = render('relationships/follow_wrapper', :user => @photo.user)
  .clearfix
  .photo-section.photo-item{:class => "item-#{@photo.id}" }
    .caption=@photo.caption
    .photo
      %img{:src => @photo.data.url}
    .comment-section
      = render('comments/comment_section', :photo => @photo)