$(".main-container").find(".home-page").find('.photo-feed-element-section').fadeIn().append("#{escape_javascript(render 'photos/photos_feed_element', :photos => @photos)}");

$(".main-container").find(".home-page").find('.show-more-photos-feed').fadeIn().html("#{escape_javascript(render 'photos/show_more_photos_feed', :user => @current_user, :page => @page)}");
