.search-page, .profile-page {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .photo-grid {
    .photo-item {
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 4px;

        .photo-wrapper {
          border: 1px solid #ddd;
          height: 100%;
          padding: 2px;

          .caption {
            padding-left: 2px;
          }
        }
      
        .photo {
          img {
            width: 100%;
          }
        }
    }
  }
}