.search-page, .profile-page {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .photo-grid {
    .photo-item {
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 4px;

        .photo-wrapper {
          border: 1px solid #ddd;
          height: 100%;
          padding: 2px;

          .caption {
            padding-left: 2px;
          }
        }
      
        .photo {
          img {
            width: 100%;
          }
        }
    }
  }
}

.home-page, .show-photo-page {
  .comment-section {
    background-color: rgba(238, 238, 238, 0.27);
    border:1px solid #bbb;
    .comment-item {
      padding: 5px;
      .list {
        list-style: none;
        padding-left: 0px;
        li {
          margin-bottom: 5px;
          .commenter-image {
            float: left;
            width: 50px;
            img {
              width: 100%;
            }
          }
          .comment-text-wrapper {
            padding-left: 60px;
            .comment-text {
              .commenter {
                font-weight: bold;
              }
            }
            .comment-time {
              color: #aaa;
              font-family: verdana;
              font-size: 10px;
            }
          }
        }
      }
    }
    .comment-post {
      padding: 5px;
      position: relative;

      #new_comment {
        .message-wrapper {
          position: absolute;
          width: 100%;
          padding-right: 100px;
          #comment_message {
            width: 100%;
          }
        }
        .add-wrapper {
          float: right;
          z-index: 1;
          position: relative;
          input {
            width: 85px;
          }
        }
      }
    }
  }
}