//Medium small for bootstrap grid 480px - 767px

.col-ms-1,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9,
.col-ms-10,
.col-ms-11,
.col-ms-12 {position: relative; padding-left: 15px; padding-right: 15px;} 
@media (min-width: 480px) and (max-width: 767px) {
  .container {max-width:748px;} 
  .col-ms-1,
  .col-ms-2,
  .col-ms-3,
  .col-ms-4,
  .col-ms-5,
  .col-ms-6,
  .col-ms-7,
  .col-ms-8,
  .col-ms-9,
  .col-ms-10,
  .col-ms-11 {float:left;}
  .col-ms-1 {width:8.33333333%;}
  .col-ms-2 {width:16.66666667%;}
  .col-ms-3 {width:25%;}
  .col-ms-4 {width:33.33333333%;}
  .col-ms-5 {width:41.66666667%;}
  .col-ms-6 {width:50%;}
  .col-ms-7 {width:58.33333333%;}
  .col-ms-8 {width:66.66666667%;}
  .col-ms-9 {width:75%;}
  .col-ms-10 {width:83.33333333%;}
  .col-ms-11 {width:91.66666667%;}
  .col-ms-12 {width:100%;}
}


//Super large desktop size for bootstrap

.col-slg-1,
.col-slg-2,
.col-slg-3,
.col-slg-4,
.col-slg-5,
.col-slg-6,
.col-slg-7,
.col-slg-8,
.col-slg-9,
.col-slg-10,
.col-slg-11,
.col-slg-12 {position:relative; padding-left:15px; padding-right:15px;} 
@media (min-width: 2048px) {
  .container {max-width:748px;} 
  .col-slg-1,
  .col-slg-2,
  .col-slg-3,
  .col-slg-4,
  .col-slg-5,
  .col-slg-6,
  .col-slg-7,
  .col-slg-8,
  .col-slg-9,
  .col-slg-10,
  .col-slg-11 {float:left;}
  .col-slg-1 {width:8.33333333%;}
  .col-slg-2 {width:16.66666667%;}
  .col-slg-3 {width:25%;}
  .col-slg-4 {width:33.33333333%;}
  .col-slg-5 {width:41.66666667%;}
  .col-slg-6 {width:50%;}
  .col-slg-7 {width:58.33333333%;}
  .col-slg-8 {width:66.66666667%;}
  .col-slg-9 {width:75%;}
  .col-slg-10 {width:83.33333333%;}
  .col-slg-11 {width:91.66666667%;}
  .col-slg-12 {width:100%;}
}