// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal */
$lightGray: #999;



.home-page {
  .photo-section {
    .photo-item {
      margin-top: 12px;
      .photo {
        border:1px solid #bbb;
        margin-top: 4px;
        margin-bottom: 8px;
        
        img {
          width: 100%;
        }
      }

    }
  }
}


.home-page {
  .photo-section {
    .photo-item {
      .comment-section {
        background-color: rgba(238, 238, 238, 0.27);
        border:1px solid #bbb;
        .comment-item {
          padding: 5px;
          .list {
            list-style: none;
            padding-left: 0px;
            li {
              margin-bottom: 5px;
              .commenter-image {
                float: left;
                width: 50px;
                img {
                  width: 100%;
                }
              }
              .comment-text-wrapper {
                padding-left: 60px;
                .comment-text {
                  .commenter {
                    font-weight: bold;
                  }
                }
                .comment-time {
                  color: #aaa;
                  font-family: verdana;
                  font-size: 10px;
                }
              }
            }
          }
        }
        .comment-post {
          padding: 5px;
          position: relative;

          #new_comment {
            .message-wrapper {
              position: absolute;
              width: 100%;
              padding-right: 100px;
              #comment_message {
                width: 100%;
              }
            }
            .add-wrapper {
              float: right;
              z-index: 1;
              position: relative;
              input {
                width: 85px;
              }
            }
          }
        }
      }
    }

  }
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #777;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: #777;
    text-decoration: none;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
  float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}