// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-photo-page {
  .user-info-section {
    margin-top: 10px;
    .user-avatar {
      float: left;
      width: 50px;
      img {
        width: 100%;
      }
    }
    .user-info-wrapper {
      padding-left: 60px;
      .user-name {
        font-weight: bold;
        float: left;
      }
      .follow-wrapper {
        float: right;
      }
    }
  }
  .photo-section {
    .caption {

    }
    .photo {
      border:1px solid #bbb;
      margin-top: 4px;
      margin-bottom: 8px;
      
      img {
        width: 100%;
      }
    }
  }
}