// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-page { 
	.user-info-section {
		padding-left: 4px;
		padding-right: 4px;
		.user-avatar {
			padding-bottom: 5px;
		}
	}
	.user-photo-section {
		margin-top: 10px;
	}
}