- @activities.each do |activity|
  %li.activity-item{class: ("unread" if !current_user.have_read?(activity))}
    = link_to "#{activity.owner.name} has commented on your photo", photos_show_and_mark_read_path(activity.id), {:class => ''}
  %li.divider
%li.see-all
  = link_to "See all", '#', {:class => ''}